
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Create", "Event")</li>
    <li>@Html.ActionLink("Departments", "Index", "Department")</li>
    <li>@Html.ActionLink("Locations", "Index", "Location")</li>
    <li>@Html.ActionLink("Populations", "Index", "Population")</li>
    <li>@Html.ActionLink("Programs", "Index", "Program")</li>
    <li>@Html.ActionLink("Roles", "Index", "Role")</li>
    <li>@Html.ActionLink("Activity Types", "Index", "Type")</li>
</ul>